<!--<div class="team-members-container">-->
<!--  {{ .Inner }}-->
<!--</div>-->

<div class="team-container">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">
    </p>
    <p class="text-blk section-subhead-text">
    </p>
    <div class="responsive-container-block">
	  <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/kMhRzYC9/petri.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Dr. Petri Laukka</p>
                  <div class="social-media-links">
                    <a href="https://scholar.google.com/citations?user=ex94leoAAAAJ&hl=en&oi=ao" target="_blank">
                      <img
                        src="https://i.postimg.cc/7hLfkdk4/scholar.png"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Uppsala University, Uppsala, Sweden
				  <a href = "mailto: petri.laukka@psyk.uu.se">petri.laukka@psyk.uu.se</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/rmw5B11q/Phil.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Dr. Philipp Müller</p>
                  <div class="social-media-links">
                    <a href="https://scholar.google.com/citations?user=RmcYRGAAAAAJ&hl=en&oi=ao" target="_blank">
                      <img
                        src="https://i.postimg.cc/7hLfkdk4/scholar.png"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  German Research Center for Artificial Intelligence, Saarbrücken, Germany
				  <a href = "mailto: philipp.mueller@dfki.de">philipp.mueller@dfki.de</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/760PH6gb/Tim.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Tim Lachmann</p>
                  <div class="social-media-links">
                    <a href="mailto:tim.lachmann@su.se" target="_blank">
                      <img
                        src="https://i.postimg.cc/KvRD7sgC/mail.png"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Stockholm University, Stockholm, Sweden
				  <a href = "mailto: tim.lachmann@su.se">tim.lachmann@su.se</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/fLDP64pR/alexandra-2.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Alexandra Israelsson</p>
                  <div class="social-media-links">
                    <a href="mailto: alexandra.israelsson@psychology.su.se" target="_blank">
                      <img
                        src="https://i.postimg.cc/KvRD7sgC/mail.png"
                      />
                    </a>
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Stockholm University, Stockholm, Sweden
				  <a href = "mailto: alexandra.israelsson@psychology.su.se">alexandra.israelsson@psychology.su.se</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
	  <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/mDP0DmpQ/blank-person.png" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Teimuraz Saghinadze</p>
                  <div class="social-media-links">
                    <a href="mailto: teimuraz.saghinadze@gtu.ge" target="_blank">
                      <img
                        src="https://i.postimg.cc/KvRD7sgC/mail.png"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Muskhelishvili Institute of Computational Mathematics, Tbilisi, Georgia
				  <a href = "mailto: mailto: teimuraz.saghinadze@gtu.ge">teimuraz.saghinadze@gtu.ge</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
